[package]
name = "ncbitaxonomy"
description = "Read NCBI Taxonomy Database from files and work with NCBI Taxonomy DB"
version = "0.1.5"
authors = ["Peter van Heusden <pvh@sanbi.ac.za>"]
license = "MIT"

[dependencies]
error-chain = "~0.12.0"
indextree = "~3.0.0"
bio = "~0.25.0"
clap = "~2.32.0"
